<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./static/scripts.js"></script>
    <title>Scrum Game</title>
</head>
<body>
<h1>Select an Option:</h1>
<div class="verticalContainer">
    <button onclick="gameTypePage()" class="button buttonround">
        Select Game Type
    </button>
    <button onclick="gameParameterPage()" class="button buttonround">
        Modify Game Parameters
    </button>
    <button onclick="gameAllConfigPage()" class="button buttonround">
        Modify Any Game Config
    </button>
</div>
<div class="config-button">
    <button onclick="gamePage()" class="button buttonround">
        Back to Normal
    </button>
</div>
<div class="info-button">
    <span class="info-text">i</span>
    <div class="info-content">
        1.By clicking on “select game type” button will direct you to a new page where you can choose the mode of the game you wanna play.
        <br>
        2.By clicking on “Modify game parameters “ button will direct you to a new page where you can modify the game parameters .
        <br>
        3.”back to normal” button will take you to normal game page
    </div>
</div>
</body>
</html>